{% extends "account/_public_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %} · MyPipelineHero{% endblock %}

{% block auth_card_label %}{% trans "Password reset confirmation" %}{% endblock %}
{% block auth_kicker %}{% trans "All set" %}{% endblock %}
{% block auth_heading %}{% trans "Your password has been changed" %}{% endblock %}

{% block auth_form %}
    <div class="mph-alert mph-alert-success" role="status">
        <p>
            {% trans "You can now sign in with your new password." %}
        </p>
    </div>
{% endblock %}

{% block auth_footer %}
    <p class="mph-auth-footnote">
        <a href="{% url 'account_login' %}">{% trans "Sign in" %}</a>
    </p>
{% endblock %}